/* Estilo do titulo do topo */
.titulo-topo{font-size: 15px; font-family: Arial; margin-left: 5px; margin-top: 5px; color: orange;}

/* estilo da img logo */
.logo{width: 40px; margin: 10px; color: white;}

/* Estilo dos links do menu */
.links-menu{font-size: 15px; font-family: Arial; margin: 5px; margin-top: 3px; text-decoration: none; color: orange; float: right;background-color: gray;}
.links-menu:hover{color: yellow;}

/* Estilo do titulo do centro */
.titulo-centro{font-size: 20px; font-family: Arial; margin-left: 20px; margin-top: 10px; color: orange; text-align: justify;}

/* Estilo dos textos */
.texto{font-size: 15px; font-family: Arial; margin: 10px;}

/* Estilo do texto do rodapé */
.texto-rodape{font-size: 15px; font-family: Arial; text-align: center; color: white; margin-top: 20px; color: orange;}

/* Estilo do rodapé */
#topo{width: 100%; height: 70px; border: 1px solid gray; background-color: gray;}

/* Estilo do menu */
#menu{width: 100%; height: 30px; border: 1px solid #999999; background-color: #999999;}

/* Estilo do centro */
#centro{width: 100%; height: 410px;}

/* Estilo do rodapé */
#rodape{width: 100%; height: 75px; border: 1px solid gray; background-color: gray;}

/* Estilo da div form-hora, inserir.blade.php */
#form-hora{width: 50%; height: 500px; border-radius: 10px; border: 1px solid #DCDCDC; margin-left: auto; margin-right: auto; margin-top: 20px;}

/* Estilo dos campos do formulário, inserir.blade.php */
.form-control{width: 80%; margin-left: auto; margin-right: auto; background-color: #DCDCDC;}

/* Estilo dos textos campos do formulário, inserir.blade.php */
.texto-form{margin-top: 10px; margin-left: 70px; font-family: Arial;}

/* Estilo do botão do formulário, inserir.blade.php */
.btn{margin-top: 10px; margin-left: 70px; font-family: Arial; background-color: #999999;}

.links-form{font-size: 17px; font-family: Arial; text-decoration: none; margin-left: auto; margin-right: auto;}
